// Import dependencies
@import './base.scss';

// Styles
.app {
    height: 100dvh;
    width: 100dvw;
}

.flex-row {
    display: flex;
    height: 100%;

    @media (max-width: $sm) {
        flex-direction: column;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        @media (max-width: $sm) { // @media (condition)
            flex: 1 1 100%; // flex: grow shink flex-basis (width)
        }
    }

    .left {
        @media not all and (max-width: $sm) {
            width: 30%;
        }
        
        h1, h3, a {
            color: white;
            text-align: center;
        }

        background: linear-gradient(to right, $primary, $accent);
    }

    .right {
        @media  not all and (max-width: $sm) {
            width: 70%;
        }

        background: $background;
    }
}

.grid-container {
    margin: 5% 25% 2.5% 25%;
}

.grid-controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    *:not(:last-child) {
        margin-right: 1rem;
    }
}

.btn {
    height: 50%;
    font-weight: bold;
    background: $primary;
    color: $background;
    border: 2px solid $accent;
    border-radius: 0.5rem;

    &:hover {
        box-shadow: 2px 2px 5px $accent;
    }
}
